.btn {
  padding: 2rem 6rem;
  border: 2px solid var(--color, black);
  background: transparent;
  font-size: 0.6em;
  border-radius: 2px;
}
.btn:hover {
  cursor: pointer;
  background: var(--color, black);
  color: white;
}
